main {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 200px 1fr 200px;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - 54px); // hide footer from 1st view on shorter pages
  margin: 3rem 0 7rem 0;
  // overflow-x: hidden;
}

// TODO: Make sidebar collapsible on small width.
aside {
  display: flex;
  flex-flow: column nowrap;
  position: sticky;
  padding: 0 1rem 0 2rem;
}

#center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 2rem 0 0;
}

article, section {
  display: flex;
  flex-flow: column nowrap;
}

article {
  min-width: 50vw;
  max-width: 70vw;

  #meta {
    align-self: start;
  }
}

header {
  display: flex;
  height: 60px;
  padding: .5em 1em .5em 1em;
}

footer {
  margin: 2em 0 0 0;
}
