main {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 200px 1fr 200px;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - 54px); // hide footer from 1st view on shorter pages
  box-sizing: border-box;
  margin: 3em 0 7em 0;
  padding: 0 2em;
}


aside, #center {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 2em;
}

aside {
  position: sticky;
}

#center {
  align-items: center;
}

article, section {
  display: flex;
  flex-flow: column nowrap;
}

article {
  min-width: 50vw;
  max-width: 75vw;

  #meta {
    align-self: start;
  }
}

header {
  display: flex;
  height: 60px;
  padding: .5em 1em .5em 1em;
}

footer {
  margin: 2em 0 0 0;
}

// TODO: Make sidebar collapsible on small width.
@media (max-width: 768px) {
  main {
    grid-auto-flow: row;
    grid-auto-columns: auto;
    row-gap: 2em;
    margin-bottom: 4em;
  }

  aside, #center {
    margin: 0;
  }

  form#search {
    max-width: unset;
  }
}
