// TODO: Improve layout responsiveness on small widths.
// Modal width should be lower than 100% and form width should be a bit less than 100vw.
// The content and sidebar are overlaying.

#search {
  position: relative;
  display: flex;
  align-items: center;
  width: 150px;
  padding: .4em;
  border: solid 1px #ced4da; 
  border-radius: 5px;
  
  &[hidden] {
    background: unset;
  }

  &:focus-within {
    box-shadow: 0 0 0 0.15rem #4e4e4e4e;
  }

  label {
    display: flex;
    align-items: stretch;
    fill: #4e4e4e;

    svg {
      width: 1rem;
    }
  }

  input {
    width: 100%;
    margin-left: .5em;
    font-size: 1rem;
    border: unset; 

    &:focus-visible {
      outline: unset;
    }
  }

  // results
  ul {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300%;
    padding: 0;
    border: 1px solid #00000022;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, .2);
  }

  // result
  li {
    padding: .5em;
    list-style: none;

    &:hover {
      background: #dddddddd;
    }
    
    &:focus-within {
      outline: solid 1.5px black;
      border-radius: 1px;
    }
  }

  // link
  a {
    color: unset;
    text-decoration: none;

    &:focus-visible {
      outline: unset;
    }
  }

  // title & description
  .meta p {
    margin: 0;
    font-size: 1em;
    line-height: normal;

    // title
    &:first-child {
      margin: 0 0 .1em 0;
      font-weight: 500;

      .section {
        color: #24608f; 
      }

      .separator {
        color: #76828f;
      }

      .title {
      }
    }
   
    // description
    &:last-child {
      font-size: .8em;
      color: hsl(0, 0%, 50%);
    }

    // highlighting
    mark {
      padding: 0;
      border-radius: 2px;
      background-color: hsl(135, 84%, 84%);
    }
  }
}
